# Ignore bundler config.
/.bundle

/config/initializers/constants.rb

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

/public/system/users/*
/public/system/articles/*
# Ignore application configuration
/config/application.yml