<%= image_tag User.avatar(id, ":thumb"), :class => 'avatar' %>
<br />
<div class="label label-info username center"><%= name %></div>
<br />
<span class="label label-info center"><%= location %></span>