<div class="container-fluid">
    <%
      if @exchanges_for_view.any?
        @exchanges_for_view.each do |user| %>
        <div class="row matchesUser white">
            <%= render "matchesUser", user: user %>
        </div>
    <%
        end
      else
    %>
      <div class="row randomArticle">
        <div class="col-md-4 col-md-offset-4">
          <h2> You have no Matches yet :(</h2>
          <br />
          <%= link_to 'Check again', matches_article_path, class: 'btn btn-default center-block' %>
        </div>
      </div>
    <% end %>
</div>

