<%= image_tag Article.find(id).avatar.url(:medium), :class => 'img-responsive'  %>
<div class="info">
    <span class="label label-info"><%= name %></span>
    <%= render "shippable", :shippable => shippable%>
</div>