<div class="container-fluid">   
    <% @matches.each do |user| %>
        <div class="row matchesUser">
            <%= render "matchesUser", :user => user %>
        </div>
    <% end %>
</div>

    