body {
	background-image: url(background.png)
}

.yield {
  margin-left: 20px;
  margin-right: 20px;
}
.table-condensed {
  max-width: 1000px;

  a {
    margin-right: 5px;
  }
}

.button {
}

a.btn:visited {
	color: white;
}

a.btn-default:visited {
	color: black;
}
