.a {
  // background-color: red;
}

.b {
  // background-color: blue;
}

.c {

	a.btn {
		margin-bottom: 10px;
	}
}

.d {
  // background-color: orange;
}

.e {
  // background-color: green;
}

.matchesUser {
	padding: 20px 10px;
	border-bottom: 2px dashed #777777;
}

.matchesUser:last-child {
	border-bottom: none;
}

.username {
	font-size: 120%;
	margin-top: 10px;
}

.matchesArticle {
	border-radius: 10px;
	margin-bottom: 20px;
	text-align: center;
	padding: 10px 0;

	img {
		border-radius: 10px;
	}

}

.matchesArticle.accepted {
	background-color: rgba(0, 255, 0, 0.2);
}

.matchesArticle.rejected {
	background-color: rgba(255, 0, 0, 0.2);
}

.matchesArticle.iAccepted {
	background-color: rgba(0, 255, 0, 0.2);
}


.matchesArticle.iRejected {
	background-color: rgba(255, 0, 0, 0.2);
}


.matchesArticle.bothAccepted {
	background-color: rgba(0, 255, 0, 0.5);
}


.matchesArticle.bothRejected {
	background-color: rgba(0, 0, 0, 0.2);
}

.info {
	margin-top: 10px;
	font-size: 150%;
	.glyphicon {
		top: 5px;
	}
}

.avatar {
	margin-bottom: 10px;
}

.center {
	text-align: center;
	margin: auto;
}