.a {
  // background-color: red;
}

.b {
  // background-color: blue;
}

.c {
  // background-color: silver;
  // padding-right: 0;
  // padding-left: 0;
}

.d {
  // background-color: orange;
}

.e {
  // background-color: green;
}

.matchesUser {
	border-bottom: 5px solid black;
}

.matchesArticle.accepted {
	background-color: rgba(0, 255, 0, 0.2);
}

.matchesArticle.rejected {
	background-color: rgba(255, 0, 0, 0.2);
}

.matchesArticle.iAccepted {
	background-color: rgba(0, 0, 0, 0.2);
}


.matchesArticle.iRejected {
	background-color: rgba(0, 0, 0, 0.2);
}


.matchesArticle.bothAccepted {
	background-color: rgba(0, 0, 0, 0.2);
}


.matchesArticle.bothRejected {
	background-color: rgba(0, 0, 0, 0.2);
}
