<div class="row editArticle">
  <div class="col-md-4 col-md-offset-4">
    <h1>Legal</h1>
    <h3>Plunder.club</h3>
    <p>A student project of University of
    <a href="http://fh-salzburg.ac.at" target="_blank">Applied Sciences Salzburg</a></p><br>

    <strong>Developers</strong>
    <p><a href="http://github.com/raketenwirt" target="_blank">David Kranewitter</a><br>
    <a href="http://fabianhoffmann.io" target="_blank">Fabian Hoffmann</a></p><br>
    <a href="https://github.com/RaketenWirt/Plunder" target="_blank"><strong>Github</strong></a>
    <br><br>

    <p>Icons by <a href="http://flaticon.com" target="_blank">FlatIcon.com</a><br>
    Background by <a href="http://subtlepatterns.com" target="_blank">subtlepatterns.com</a></p>
  </div>
</div>