<h3><span class="label label-success"><i class="glyphicon glyphicon-ok"></i> Accepted</span></h3>
<br>
<%= link_to exchange_handler_path(:id1 => id1, :id2 => id2, :state => state, :choice => "no"), class: "btn btn-danger btn-xs" do %>
    <i class="glyphicon glyphicon-repeat"></i> Undo
<% end %>